/* render html5 elements as block */
header, footer, section, aside, nav, article {
display: block;
}

body {
line-height: 1;
background: #D4B38A;
font-family: Garamond, Georgia, Times, "Times New Roman", serif;
color: #666;
font-size: 16px;
line-height: 18px;
}

/* layout */

#wrapper {
width: 100%;
margin: 0 auto;
}

header {
width: 100%;
height: 500px;
//background: #ddd url(images/headerimg.jpg) repeat-x left top;
background: #7E4C1F;	
}

#main {
width: 90%;
margin: 0 auto;
padding-top: 30px;
overflow: hidden;
}

#content {
float: left;
width: 65%;
margin-left: 40px;
}

#sidebar1 {
float: right;
padding: 15px;
padding-right: 30px;
width: 20%;
border: 2px #6B3507 ridge;
border-radius: 10px;
background: #FFF;
margin-right: 5px;
margin-bottom: 5px;
}

footer {
margin-top: 5px;
width: 100%;
margin: 0 auto;
clear: both;
}

/* basics */

h1,h2,h3,h4,h5,h6 {
font-weight: bold;
clear: both;
}

h2, h3 {
color: #6B3507;
border-bottom: 2px dotted #ddd;
}

a:link, a:visited {
color:#333;
text-decoration: none;
}

a:hover, a:active {
color: #6B3507;
text-decoration: underline;
}

p {
margin-bottom: 18px;
}

li {
padding-left: 5px;
}
/* nav */


nav .menu {
font-size: 18px;
font-weight: bold;
text-align: left;
/*margin-top:100;*/
position: absolute;
top: 165px;
width: 100%;
height: 50px;
background: #6B3507;
}

nav .menu ul {
margin: 0;
padding: 17px 0 0 20px;
list-style: none;
line-height: normal;
}

nav .menu li {
display: inline-block;
float: left;
}

nav .menu a {
display: block;
float: right;
margin-right: 5px;
padding: 0px 25px;
color: #edae3c;

}

/* nav ajout perso*/
nav .menu_h {
font-size: 18px;
font-weight: bold;
text-align: right;
margin-top: 0;
background: #6B3507;
width: 100%;
height: 50px;

}

nav .menu_h ul {
margin: 0;
padding: 17px 0 0 20px;
list-style: none;
line-height: normal;
}

nav .menu_h li {
display: inline-block;
float: right;
}

nav .menu_h a {
display: block;
float: left;
margin-right: 5px;
padding: 0px 25px;
color: #edae3c;
}

/** HEADER */

header h1 {
margin: 0;
padding: 0 0 0 10px;
line-height: normal;
float: left;
padding-top: 2px;
text-shadow: 0px 2px 3px #000;
color: #eee;
}

header h1 a:link, header h1 a:visited {
text-decoration: none;
color: #eee;
font-size: 48px;
}

header h1 a:hover { 
text-decoration: underline; 
}
/** paragraphe **/
#sidebar1 p{
padding= 15px;
}

/** ARTICLES **/

article {
padding: 15px;
background: #eee;
margin-left: 15px;
margin-top: 15px;
margin-bottom: 15px;
width: 100%;
border: 2px #6B3507 solid;
border-radius: 10px;
box-shadow: 6px 6px 6px #6B3507;



}

article img {
border: none;
-webkit-box-shadow: 3px 3px 7px #777;
-moz-box-shadow: 3px 3px 7px #777;
}

#content p, ul, ol, hr {
margin-bottom: 24px;
}

#content ul ul, ol ol, ul ol, ol ul {
margin-bottom: 0;
}

#content h1, h2, h3, h4, h5, h6 {
margin: 0 0 20px 0;
line-height: 1.5em;
}

.alignleft, img.alignleft {
display: inline;
float: left;
margin-right: 12px;
}

.alignright, img.alignright {
display: inline;
float: right;
margin-left: 12px;
}

.aligncenter, img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

img.alignleft, img.alignright, img.aligncenter {
margin-bottom: 12px;
}

/* sidebar and footer widget blocks */

aside {
padding: 15px;
}
aside h3 {

color: #6B3507;
font-size: 20px;
}

aside ul {
list-style: inside url(images/arrow.gif);
}



#footer-area {
background: #6B3507;
color: #ddd;
font-size: 90%;
padding: 18px 0;
overflow: hidden;
}

.footer-segment {
float: center;
margin-right: 20px;
margin-left: 20px;
width: 190px;
}

footer aside h4 {
color: #edae3c;
font-size: 18px;
line-height: 1.5em;
}

footer ul {
display: inline-block;
float: center;
}

footer a:link, footer a:visited {
color: #ddd;
}

footer a:hover { 
text-decoration: underline; 
}

/* iframe*/
iframe {
margin-left: 15px;
margin-top: 15px;
margin-bottom: 15px;
width: 100%;
}
